header{
font-family: Verdana;
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid black;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 25px;
}

.header-logo{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 20px;

}
.header-logo span{
  color: MediumAquamarine;
  align-items: center;
  margin-left: 12px;

}

nav{
  padding-right: 20px;
}

nav span{
  padding: 20px 10px;
  display: inline-block;

}

a{
  color: black;
}

.container{
  display: flex;
}

.column-large{
  width: 630px;
  margin-right: 20px;

}

.column-medium{
  width: 300px;
  margin-right: 20px;

}

.column-small{
  width: 240px;

}

.column-large, .image-one, .orca, .image-two, .burger, .image-three, .header-logo, .column-medium, .column-small, .bites, .image-five, .cat-content, .fbi, .image-four{
  border: 1px solid black;
}
